@model david.hotelbooking.mvc.Models.RolePermissionViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Role</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="role_edit_form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoleId" />
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleDescription" class="control-label"></label>
                <input asp-for="RoleDescription" class="form-control" />
                <span asp-validation-for="RoleDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Permissions</label><br/>
                @foreach (var permission in Model.Permissions)
                {
                    <input
                           type="checkbox"
                           value="@permission.Id"
                           name="RolePermissionIds"
                           checked="@Model.RolePermissionIds.Contains(permission.Id)"
                           />
                    @permission.Name<br/>
                }

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" form="role_edit_form"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
